#controls {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 100;
  pointer-events: auto;
}

#controls button {
  width: 72px;
  height: 72px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background: rgba(255,255,255,.25);
  color: #fff;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

#controls button:active {
  background: rgba(255,255,255,.45);
  transform: scale(0.95);
}
